[submodule "vendor/socket.io.server"]
	path = vendor/socket.io.server
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "vendor/node-static"]
	path = vendor/node-static
	url = git://github.com/cloudhead/node-static.git
