[submodule "vendor/socket.io.server"]
	path = vendor/socket.io.server
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "vendor/node-static"]
	path = vendor/node-static
	url = git://github.com/cloudhead/node-static.git
[submodule "vendor/socket.io.client"]
	path = vendor/socket.io.client
	url = git://github.com/LearnBoost/Socket.IO.git
[submodule "vendor/Socket.IO"]
	path = vendor/Socket.IO
	url = https://github.com/LearnBoost/Socket.IO.git
